:root {
    --white: #ffffff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323239;
    --gray-700: #29292e;
    --gray-800: #282826;
    --gray-900: #121201;

    --green-400: #99B37B;
    --green-600: #007788;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input, text-area, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}